@import url("https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Pacifico&display=swap");

:root {
  --background: #514b7c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Corben';
}

ul {
  list-style: none;
}

body {
  padding: 20px;
  animation: fadeInAnimation ease 2s;
  background: #171718;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #674188;
  border: 2px solid #C8A1E0;
  border-radius: 20px;
  gap: 20px;
}

header img {
  height: 200px;
  width: 200px;
  border: 4px solid #dec7f1;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 86%) 0px 18px 50px -10px;
}

header .header-info {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background: #17171824;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgb(111 88 88 / 86%) 0px 18px 50px -10px;
}

header .header-info h1 {
  font-size: 50px;
  color: #f1e6f8;
  font-family: 'Pacifico', cursive;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

header .header-info p {
  font-size: 20px;
  color: #f1e6f8;
  font-family: 'Corben';
  text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

header .social-list {
  display: flex;
  gap: 15px;
}

header .social-list li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #dec7f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .social-list li:hover {
  background: #C8A1E0;
}

header .cv-btn {
  font-size: 20px;
  padding: 6px 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all .3s ease;
  background: #dec7f1;
  border: 1px solid #dec7f1;
  color: #26033b;
  box-shadow: rgb(0 0 0 / 86%) 0px 18px 50px -10px;
}

header .cv-btn:hover {
  background: #C8A1E0;
}

nav {
  width: 100%;
  margin-top: 10px;
  background: #674188;
  border: 2px solid #C8A1E0;
  border-radius: 20px;
}

nav .nav-btns {
  display: flex;
  gap: 10px;
  padding: 20px;
}

nav .nav-btns li {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dec7f1;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s ease;
  color: #26033b;
  box-shadow: rgb(0 0 0 / 86%) 0px 18px 50px -10px;
  text-transform: capitalize;
}

nav .nav-btns li:hover {
  background: #C8A1E0;
}


main {
  margin-top: 10px;
  padding: 20px;
  background: #674188;
  border: 2px solid #C8A1E0;
  border-radius: 20px;
  color: #f1e6f8;
  box-shadow: rgb(0 0 0 / 86%) 0px 18px 50px -10px;
}


main .content {
  padding: 20px;
  background: #dec7f1;
  border-radius: 20px;
  box-shadow: rgb(111 88 88 / 86%) 0px 18px 50px -10px;
  color: #26033b;
}

main .content p {
  font-size: 20px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}